# .gitignore

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.env
.env*
!env.template  # keep a template in version control
venv/

# Node (in case frontend lives here later)
node_modules/
dist/
build/
*.log

# VSCode
.vscode/

# OS
.DS_Store

# Railway + Local
railway.json
*.sqlite3

# Testing
tests/
tests/cleanup_seeded_products.py
tests/dbs_pytest.py
